/******************************************************************************
 * User Agent
*******************************************************************************/
::-webkit-scrollbar {
  display: none;
}


/******************************************************************************
 * Document
*******************************************************************************/
html {
  overflow-x: hidden;
  overflow-y: scroll;
  font-size: 85%;
  @include respond-to(ipad-landscape) { font-size: 90%; }
  @include respond-to(mbp-fifteen) { font-size: 95%; }
  @include respond-to(mac) { font-size: 100%; }
  &.nav-active {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    max-height: 100%;
    backface-visibility: hidden;
  }
}
body {
  color: $black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba( 0, 0, 0, 0 );
  -webkit-touch-callout: none;
  @include clearfix();
}
.content-container {
  min-height: 100%;
  margin-bottom: -165px;
  @media (min-width: 375px) {
    margin-bottom: -118px;
  }
  @media (min-width: 860px) {
    margin-bottom: -80px;
  }
}
html,
body,
.site-container {
  height: 100%;
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
}

/******************************************************************************
 * Box Sizing
*******************************************************************************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

.site-container {
  @include clearfix();
}

.site-title-heading {
  position: absolute;
  top: 0;
  left: 0;
  text-indent: -9999px;
}
