// Typography

$primary: 'Futura', 'Helvetica Neue', 'Helvetica', sans;
$secondary: 'Proxima Nova', 'Helvetica Neue', 'Helvetica', sans;
$tertiary: 'Brandon Grotesque', 'Helvetica Neue', 'Helvetica', sans;

$h1:    55px; // Futura Medium, #fff, line-height 65px, letter-spacing: .04rem;
$h2:    22px; // Futura Book #fff, line-height 37px, letter-spacing: .02rem;
$h3:    14px; // Brandon Grotesque Black, #bc2132, letter-spacing: .28rem;
$h4:    14px; // Brandon Grotesque Black, #white, letter-spacing: .14rem;
$h5:    11px; // Brandon Grotesque Black, #black, letter-spacing: .14rem;
$h6:    40px;
$body:  18px; // Proxima Nova Regular, #fff, line-height 27px, letter-spacing .04rem
$small: 12px;
$quote: 95px; // Brandon Grotesque Black, #bc2132, letter-spacing: .14rem;

// S P A C E
$spacer-xs:  30px;
$spacer-sm:  40px;
$spacer-md:  45px;
$spacer-lg:  50px;
$spacer-xl:  60px;
$spacer-xxl: 130px;


// Colors
$white: #fff;
$black: #181818;
$red: #bc2132;


// Grid Widths
$full: 100%;
$half: 50%;
$third: 33.33%;
