.connect {
  padding-top: rem-calc($spacer-xxl - 30);
  padding-bottom: rem-calc($spacer-xxl - 5);

  // ---------------------
  // squarespace overrides
  // they are at the top so I can override them at the bottom
  > .sqs-layout { display: none; }
  .sqs-layout > .sqs-row { margin: 0; }
  .sqs-layout:not(.sqs-editing)>.sqs-row:first-child>[class*=sqs-col]:first-child>.sqs-block:last-child,
  .sqs-layout:not(.sqs-editing) .sqs-block+.sqs-row .sqs-block:not(.float):last-child,
  [class*=sqs-col] .sqs-block,
  .sqs-block {
    padding: 0;
  }
  // as you were
  // -----------

  &-container {
    width: 100%;
    max-width: rem-calc(1136px);
    padding-left: 1rem;
    padding-right: 1rem;
    overflow: hidden;
    @include center();
    margin-bottom: rem-calc($spacer-xxl - 30);
    &:last-of-type { margin-bottom: 0; }
  }
  &__title,
  &__image
  &__text {
    // padding: 20px;
    // remove after content is added
  }
  &__title {
    position: relative;
    top: rem-calc(30px);
    z-index: 5;
    h3 { margin-bottom: rem-calc($spacer-md - 10); }
  }
  &__image {
    position: relative;
    z-index: 4;
  }
  &__text {
    display: block;
    width: 100%;
    max-width: rem-calc(860px);
    font-size: 0;
    text-align: left;
    margin-top: rem-calc($spacer-xl);
    @include center;
    &__item {
      @include center();
      display: block;
      vertical-align: top;
      max-width: rem-calc(410px);
      width: 100%;
      @include respond-to(ipad-portrait) {
        display: inline-block;
        width: #{"calc( ~\"50% - 20px\" )"};
        margin-left: 0;
        margin-right: 0;
        &--left {
          margin-right: 40px;
        }
      }
    }
    h2 {
      color: $black;
      margin-bottom: rem-calc($spacer-md - 12);
    }
    p {
      margin-bottom: rem-calc(40px);
      &:last-of-type { margin-bottom: 0; }
    }
    .sqs-block-html .sqs-block-content > h3 { margin-bottom: rem-calc(10); }
    .sqs-block-code .sqs-block-content > h4 { margin-bottom: rem-calc($spacer-md - 9); }
    .sqs-block-code .sqs-block-content > h4.no-margin-bottom { margin-bottom: 0; }
  }
}
