.double {
  width: 100%;
  font-size: 0;
  text-align: center;
  &__item {
    width: 100%;
    height: 100vh;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    @media screen and (max-height: 665px) {
      min-height: 665px;
    }
    @include respond-to(ipad-portrait) {
      width: 50%;
      max-height: rem-calc(800px);
    }
    &--left {
      background: url("/assets/img-home-buy.jpg") no-repeat center center;
      background-size: cover;
      h2 { max-width: rem-calc(360px); }
    }
    &--right {
      background: url("/assets/img-home-sell.jpg") no-repeat center center;
      background-size: cover;
      h2 { max-width: rem-calc(360px); }
    }
    &:before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      height: 100%;
      max-height: rem-calc(800px);
      margin-right: -0.025rem;
    }
  }
  &__inner {
    width: 100%;
    max-width: 98%;
    display: inline-block;
    vertical-align: middle;
  }
  h1, h2, { color: $white; }
  h1:before {
    content: '';
    display: block;
    width: rem-calc(22);
    height: rem-calc(16.81);
    background: url("/assets/icon-arrow.svg") no-repeat center center;
    background-size: rem-calc(22) rem-calc(16.81);
    @include center();
    margin-bottom: rem-calc(30px);
  }
  h2 {
    @include center();
    margin-top: rem-calc(30px);
  }
  .button {
    margin-top: $spacer-xl - 8;
  }
}
