.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  overflow: hidden;
  @media screen and (max-height: 665px) {
    min-height: 568px;
  }
  @include respond-to(ipad-portrait) {
    text-align: center;
    &--header { text-align: right; }
  }
  &--featured {
    height: 100vh;
    @media screen and (max-height: 665px) {
      min-height: 568px;
    }
    @include respond-to(ipad-portrait) {
      max-height: rem-calc(800px);
    }
    .button {
      margin-top: 51px;
    }
    h1:before {
      content: '';
      display: block;
      width: rem-calc(22);
      height: rem-calc(16.81);
      background: url("/assets/icon-arrow.svg") no-repeat center center;
      background-size: rem-calc(22) rem-calc(16.81);
      @include center();
      margin-bottom: rem-calc($spacer-sm);
    }
  }
  &--home {
    background-image: url("/assets/img-home-header.jpg");
    @include respond-to(ipad-portrait) {
      background-image: initial;
    }
    .touch & {
      background-image: url("/assets/img-home-header.jpg");
      @include respond-to(ipad-portrait) { background-image: url("/assets/img-home-header.jpg?format=original"); }
    }
    video {
      position: absolute;
      display: none;
      top: 0;
      left: 50%;
      max-width: 100%;
      min-width: 177.77vh;
      min-height: 100vh;
      width: auto;
      height: auto;
      z-index: 0;
      transform: translate(-50%, 0);
      pointer-events: none;
      @include respond-to(ipad-portrait) {
        display: block;
      }
      @media screen and (min-width: 1920px) {
        max-width: initial;
        min-width: 100%;
        min-height: 100%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
      .touch & {
        display: none;
        @include respond-to(ipad-portrait) {
          display: none;
        }
      }
    }
    h1:before {
      content: '';
      display: block;
      position: relative;
      width: rem-calc(112);
      height: rem-calc(30.16);
      background: url("/assets/logo-scout-horizontal.svg") no-repeat center center;
      background-size: rem-calc(112) rem-calc(30.16);
      @include center();
      margin-bottom: rem-calc($spacer-sm - 3);
    }
    .button {
      display: none;
      @include respond-to(mobile-plus) {
        display: inline-block;
        width: auto;
      }
    }
  }
  &--home-hero {
    background-image: url("/assets/img-home-ethos.jpg");
    max-height: rem-calc(800px);
    h1:before {
      content: '';
      display: block;
      width: rem-calc(22);
      height: rem-calc(16.81);
      background: url("/assets/icon-arrow.svg") no-repeat center center;
      background-size: rem-calc(22) rem-calc(16.81);
      @include center();
      margin-bottom: rem-calc($spacer-sm);
    }
    .hero__image {
      display: inline-block;
      vertical-align: middle;
      margin-top: $spacer-sm !important;
      @include respond-to(ipad-portrait) {
        margin-top: $spacer-xl !important;
      }
      &:first-of-type {
        width: rem-calc(80);
        margin-right: rem-calc($spacer-xs);
      }
    }
  }
  &:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    margin-right: -0.025rem;
  }
  &__inner {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width: 100%;
    max-width: #{"calc( ~\"100% - 3.75rem\" )"};
    color: $white;
    z-index: 7;
    @include respond-to(ipad-portrait) {
      max-width: #{"calc( ~\"100% - 90px\" )"};
      padding: 0;
    }
  }
  &__message {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 5;
    padding: rem-calc(30px);
    width: 100%;
    cursor: pointer;
    text-align: center;
    h5 { margin-bottom: rem-calc($spacer-xs); }
    @include respond-to(ipad-portrait) {
      // width: 75%;
      width: #{"calc( ~\"100% - 90px\" )"};
    }
  }
  &__link {
    @include center();
    display: block;
    position: relative;
    width: rem-calc(22);
    height: rem-calc(16.81);
    background: url("/assets/icon-arrow-down.svg") no-repeat center center;
    background-size: rem-calc(22) rem-calc(16.81);
    z-index: 5;
    animation: fade 2000ms infinite;
    .hero--home & {
      width: 194px;
      height: 81px;
      background: url("/assets/tca_horizontal_logo.svg") no-repeat center center;
      background-size: 194px 81px;
      animation: none;
      @include respond-to(ipad-portrait) {
        width: rem-calc(22);
        height: rem-calc(16.81);
        background: url("/assets/icon-arrow-down.svg") no-repeat center center;
        background-size: rem-calc(22) rem-calc(16.81);
        animation: fade 3000ms infinite;
      }
    }
  }
  & .sqs-block-code .sqs-block-content p {
    max-width: rem-calc(490px);
    margin-top: rem-calc($spacer-xs);
    @include center();
  }
  & h2, & .sqs-block-code .sqs-block-content h2 {
    max-width: rem-calc(450px);
    margin-top: rem-calc($spacer-xs);
    @include center();
  }
  & .sqs-block-code .sqs-block-content .button {
    margin-top: rem-calc($spacer-xl);
  }
  & .sqs-block-code .sqs-block-content h4 {
    margin-bottom: rem-calc(19);
  }
  & .sqs-block.code-block.sqs-block-code {
    padding-bottom: rem-calc(2px) !important;
  }
}
