.hero {
  width: 100%;
  height: 100vh;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  &--home-hero {
    min-height: rem-calc(800px);
    h1:before {
      content: '';
      display: block;
      position: relative;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 11px 17px 11px;
      border-color: transparent transparent $red transparent;
      @include center();
      margin-bottom: rem-calc($spacer-sm);
    }
  }
  &--buy-hero {
    img { margin-bottom: rem-calc(10); }
    p { color: $black; }
  }
  &:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    margin-right: -0.025rem;
  }
  &__inner {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    max-width: #{"calc( ~\"100% - 10px\" )"};
    color: $white;
    padding: 20px; // remove padding after content is added.
    @include respond-to(ipad-portrait) {
      padding: 0;
    }
  }
  &__message {
    display: block;
    position: absolute;
    bottom: rem-calc(30px);
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    padding: 20px;
    width: 50%;
    height: 20px;
  }
  &__link {
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 5px 0 5px;
    border-color: $red transparent transparent transparent;
    z-index: 5;
  }
  & .sqs-block-html .sqs-block-content > p {
    max-width: rem-calc(490px);
    margin-top: rem-calc(28px);
    margin-bottom: rem-calc(22px);
    @include center();
  }
  .button {
    display: none;
    @include respond-to(mobile-plus) { display: block; }
  }
  & .sqs-block.code-block.sqs-block-code {
    padding-bottom: rem-calc(2px) !important;
  }
}
