.icons {
  width: 100%;
  max-width: rem-calc(1020px);
  @include center();
  text-align: center;
  font-size: 0;
  padding-top: rem-calc($spacer-xl);
  padding-bottom: rem-calc($spacer-xl);
  @include respond-to(mobile-plus) {
    padding-top: rem-calc($spacer-xxl);
    padding-bottom: rem-calc($spacer-xxl);
  }
  &__item {
    display: block;
    vertical-align: top;
    width: 100%;
    max-width: rem-calc(290px);
    margin-top: rem-calc($spacer-xl);
    @include center();
    &:first-of-type { margin-top: 0; }
    @include respond-to(mobile-plus) {
      display: inline-block;
      // use this if you want to calc
      // sqs uses a less compiler
      width: #{"calc( ~\"33.33% - 47px\" )"};
      margin-top: 0;
      margin-left: 0;
      margin-right: 47px;
      &:last-of-type { margin-right: 0; }
    }
  }
  h3 {
    margin-top: rem-calc(25px) !important;
    margin-bottom: rem-calc(20px);
  }
  & .sqs-layout:not(.sqs-editing) .sqs-row + .sqs-row .sqs-block:not(.float):first-child,
  & [class*=sqs-col] .sqs-block,
  & .sqs-layout:not(.sqs-editing) > .sqs-row:first-child > [class*=sqs-col]:first-child > .sqs-block:last-child {
    padding: 0;
  }
  .sqs-layout > .sqs-row { margin: 0; }
  a {
    color: $red;
    text-decoration: underline;
  }
}
