.nav {
  position: fixed;
  display: block;
  width: 100%;
  z-index: 1000;
  text-align: center;
  top: 0;
  left: 0;
  @include respond-to(ipad-portrait) {
    display: inline-block;
    vertical-align: top;
    width: 90px;
    height: 100vh;
    padding-top: $spacer-sm;
    padding-bottom: 10px;
    border-right: 1px solid $white;
    transition: border-color 400ms ease;
    .nav-scrolled & {
      border-color: $black;
    }
  }
  &__toggle {
    display: inline-block;
    position: relative;
    vertical-align: top;
    padding: rem-calc(22px) rem-calc(25.5px);
    margin-left: auto;
    margin-right: auto;
    background-color: $red;
    z-index: 10;
    @include respond-to(ipad-portrait) {
      display: none;
    }
  }
  &__burger {
    position: relative;
    display: block;
    width: 21px;
    height: 1px;
    background-color: $white;
    transition: background-color 400ms ease;
    .nav-active & {
      background-color: transparent;
    }
    &:after, &:before {
      content: '';
      position: absolute;
      width: 21px;
      height: 1px;
      background-color: $white;
      top: 0;
      left: 0;
      transition: transform 400ms ease;
      z-index: 10;
    }
    &:before {
      transform: translateY(-5px);
      .nav-active & { transform: translateY(0px) rotate(45deg); }
    }
    &:after {
      transform: translateY(5px);
      .nav-active & { transform: translateY(0px) rotate(-45deg); }
    }
  }
  &__list-container {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: $red;
    opacity: 0;
    visibility: hidden;
    text-align: center;
    z-index: 9;
    transition: visibility 0s linear 400ms, opacity 400ms;
    @include respond-to(ipad-portrait) {
      position: relative;
      top: initial;
      left: initial;
      height: auto;
      opacity: 1;
      visibility: visible;
      background-color: transparent;
      transition: none;
    }
    .nav-active & {
      opacity: 1;
      visibility: visible;
      transition: visibility 0s linear 0s, opacity 400ms;
    }
    &:before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      height: 100vh;
      margin-right: -0.025rem;
      @include respond-to(ipad-portrait) {
        display: none;
      }
    }
  }
  &__list {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    &:before {
      content: '';
      display: inline-block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 12px 19px 12px;
      border-color: transparent transparent #ffffff transparent;
      margin-bottom: 5vh;
      @include respond-to(ipad-portrait) {
        display: none;
      }
    }
  }
  &__logo {
    display: none;
    @include respond-to(ipad-portrait) {
      display: block;
      width: rem-calc(17px);
      height: rem-calc(176px);
      background: url('/assets/logo-vertical.png') no-repeat center center;
      background-size: rem-calc(17px) rem-calc(176px);
      border: 0;
      margin-bottom: 0;
      transition: background 400ms ease;
      @include center();
      .nav-scrolled & {
        background-image: url("/assets/logo-vertical-black.png");
      }
    }
  }
  &__item {
    display: block;
    list-style: none;
  }
  &__link {
    display: block;
    font-size: rem-calc(16px);
    color: $white;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .07rem;
    padding: 5vh;
    @include respond-to(ipad-portrait) {
      font-size: rem-calc(11px);
      letter-spacing: .14rem;
      padding: rem-calc($spacer-xl) 0 0 0;
      transition: color 400ms ease;
      &:hover { color: $red; }
      .nav-scrolled & {
        color: $black;
        &:hover { color: $red; }
      }
    }
  }
}
