.testimonial {
  position: relative;
  width: 100%;
  padding: 30px;
  height: 100vh;
  @include respond-to(ipad-portrait) {
    padding-top: $spacer-xxl;
    padding-bottom: $spacer-xxl;
    height: auto;
  }
  &__inner {
    position: relative;
    width: 100%;
    max-width: rem-calc(1330 + 80);
    @include center();
    @include clearfix();
  }
  &__images {
    position: relative;
    width: 100%;
    max-width: rem-calc(1130 + 40);
    overflow: hidden;
    @include respond-to(ipad-portrait) {
      float: right;
      width: percentage(1130 / 1330);
      margin-right: 40px;
    }
  }
  &__image-list {
    display: block;
    position: relative;
    width: 100%;
    height: #{"calc( ~\"100vh - 110px\" )"};
    text-align: center;
    font-size: 0;
    transition: transform 600ms ease;
    @include respond-to(ipad-portrait) {
      height: rem-calc(620);
    }
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 5;
      background-color: #000;
    }
  }
  &__image {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 0;
    z-index: 5;
    transition: opacity 600ms ease;
    &--active {
      opacity: .5;
      z-index: 6;
    }
    @include respond-to(ipad-portrait) {
      &--active {
        opacity: 1;
        z-index: 6;
      }
    }
  }
  &__quotes {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 6;
    overflow: hidden;
    @include respond-to(ipad-portrait) {
      max-width: rem-calc(440px);
      top: 50%;
      left: 40px;
      transform: translateY(-50%);
    }
  }
  &__quote {
    position: absolute;
    top: 45%;
    left: 50%;
    opacity: 0;
    display: block;
    width: 100%;
    max-width: rem-calc(500);
    padding: rem-calc(35px);
    z-index: 5;
    transition: opacity 600ms ease;
    transform: translate(-50%, -50%);
    text-align: center;
    &--active {
      opacity: 1;
      z-index: 6;
    }
    @include respond-to(ipad-portrait) {
      padding: rem-calc(60px);
      text-align: left;
      max-width: 100%;
      top: 50%;
      background-color: rgba(#333333, .97);
    }
  }
  &__content p { color: $white; }
  &__author { margin-top: rem-calc($spacer-xs); }
  .sqs-layout > .sqs-row {
    margin-left: 0;
    margin-right: 0;
  }
  .sqs-layout:not(.sqs-editing) > .sqs-row:first-child > [class*=sqs-col]:first-child > .sqs-block:last-child, .sqs-layout:not(.sqs-editing) .sqs-block + .sqs-row .sqs-block:not(.float):last-child {
    padding-bottom: 0;
  }
  [class*=sqs-col] .sqs-block {
    padding-left: 0;
    padding-right: 0;
  }
}

.controls {
  &__item {
    position: absolute;
    top: 100%;
    width: 50%;
    height: 60px;
    z-index: 7;
    text-align: center;
    @include respond-to(ipad-portrait) {
      width: 30px;
      height: 100%;
      top: 0;
    }
    &:before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      height: 100%;
      margin-right: -0.025rem;
    }
    &--left {
      left: 0;
      text-align: right;
      padding-right: 20px;
      @include respond-to(ipad-portrait) {
        text-align: center;
        padding-right: 0;
      }
    }
    &--right {
      right: 0;
      text-align: left;
      padding-left: 20px;
      @include respond-to(ipad-portrait) {
        text-align: center;
        padding-left: 0;
      }
    }
  }
  &__image {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    cursor: pointer;
  }
}

.indicators {
  display: none;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 0;
  z-index: 7;
  width: 100%;
  @include respond-to(ipad-portrait) {
    transform: translateX(-50%);
  }
  &__item {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 5.5px 9px 5.5px;
    border-color: transparent transparent $red transparent;
    &:last-of-type { margin-right: 0; }
    &--active {
      border-color: transparent transparent $white transparent;
    }
  }
  &__item-container {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding: rem-calc(30px) rem-calc(15px);
    cursor: pointer;
    @include respond-to(ipad-portrait) {
      padding: rem-calc(50px) rem-calc(15px);
    }
  }
}
